
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courier New",monospace;
 }
 
 /* * * * * * * * * * * * * * * * * * * * * * * * * * *
  * Styling navigation bar for large screen devices
  */
 .nb{
    color: black;
 }
 .navbar {
    position: relative; 
    background: rgba(255, 255, 255, 0.959);
    position: fixed;
    top: 0;
    width: 100%;
 }
 
 .navbar-left {
    display: inline-block;
    margin-left: 15px;
 }
 
 .navbar-right {
    display: inline-block;
    margin-right: 15px;
    position: absolute;
    top: 0;
    right: 0;
 }
 
 .navbar-brand,
 .navbar .nav-link {
    text-decoration: none;
    display: inline-block;
    padding: 15px;
 }

 .navbar a.active {
   text-shadow: 2px 2px 2px gray;
   font-weight: bold;
  }
 
 .navbar-brand {
    padding-left: 30px;
    padding-right: 30px;
 
 }

 .navbar-brand:hover {
   text-shadow: 2px 2px 2px gray;
   font-weight: bold;
 }
 
 .navbar .nav-link:hover {
   text-shadow: 2px 2px 2px gray;
   font-weight: bold;
 }
 
 .navbar-collapse,
 .navbar-toggler {
    display: none;
 }
 
 /* * * * * * * * * * * * * * * * * * * * * * * * * * *
  * For mobile devices
  */
 
 @media (max-width: 874px) {
    .navbar-right,
    .navbar-left {
       display: block;
    }
 
    .navbar-right {
       position: static;
    }
 
    .navbar .nav-link {
       display: block;
    }

    .navbar a.active {
        text-shadow: 2px 2px 2px gray;
        font-weight: bold;
      }
 
    .navbar-collapse:checked + .navbar {
       max-height: 50px;
       overflow: hidden;
    }
 
    .navbar-toggler {
       color: black;
       display: inline-block;
       padding: 15px 25px;
       position: absolute;
       top: 0;
       right: 0;
       cursor: pointer;
    }
 } /* @media */

 
.dark,
.dark * {
    background-color: #222831;
    color: white;
    border-color: white;
}